@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.header {
    h1 {
        font-size: 60px;
    }
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.main {
    padding: 20px;
    display: block;
    margin: auto;
    max-width: 600px;
}
img {
    height: inherit;
    width: auto;
}
table {
  border-radius:11px;
  height: auto;
  margin: auto;
  max-width: 600px;
  margin-top: 30px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

td {
    height: 73px;
    width: 30px;
    border: 1px solid black;
}

th {
    height: 73px;
    width: 73px;
    border: 1px;
}

.btn {
  background: #f2f2f2;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ebebeb);
  background-image: -moz-linear-gradient(top, #f2f2f2, #ebebeb);
  background-image: -ms-linear-gradient(top, #f2f2f2, #ebebeb);
  background-image: -o-linear-gradient(top, #f2f2f2, #ebebeb);
  background-image: linear-gradient(to bottom, #f2f2f2, #ebebeb);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 9px 13px 9px 13px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  cursor: pointer;
}